.chat{
  margin-top: 20px;
  padding: 20px;
  @include for-mobile-layout {
 padding: 5px;
}
}
.chat-window {
    width: 70vw;
    height: 70vh;
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
    @include for-mobile-layout {
      width: 80vw;
      margin-top: 20px;
      height: 60vh;
  }
    form{
      position: relative;
      height: rem(25px);
    }
    .msg{
      color: #222;
      font-weight: 500;
      font-size: 18px;
      padding: 3px;
    }
  }
  
  .chat-window p {
    margin: 0;
  }
  .chat-window .chat-header {
    height: 45px;
    background: #263238;
    position: relative;
    cursor: pointer;
  }
  .chat-window .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #000;
    font-weight: 700;
    line-height: 45px;
  span{
    color: #cecece;
  }
  }
  
  .chat-window .chat-body {
    height: 100%;
    border: 1px solid #263238;
    background: #1d1e24;
    position: relative;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
 
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: #43a047;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  

  }
  
  
.chat-window .chat-footer {
  height: 35px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;

}

.chat-window .chat-footer input {
  height: 100%;
  border: 0;
  font-size: 1em;
  outline: none;
  font-family: "Open Sans", sans-serif;
  background-color: #16171b;
  color: #9c9da1;
}

.chat-window .chat-footer button {
  border: 0;
  width: 50px;
  height: 100%;
  background: #9c9da1;
  font-size: 16px;
  color: #fff;
  right: 0px;
  position: absolute;
  bottom: 0;
  font-weight: 600;
}


.back-btn {
  width: 25px;
  cursor: pointer;
}